pytest
pytest-asyncio
requests
google-cloud-secret-manager
google-genai
ipython
google-auth
protobuf
pydantic
jsonpath-ng
pandas
gspread
gspread-dataframe
PyYAML
pandas-gbq
google-cloud-bigquery
google-cloud-ces
google-cloud-texttospeech
websocket-client
certifi
json5
graphviz
rich
ruff
google-cloud-dialogflow-cx
google-cloud-storage
